In [8]:
import pandas as pd
from ipynotifyer import notifyOnComplete as nf

In [ ]:
@nf
def get_pumas():
    pd.read_csv('../../Data/raw_aggData/raw_PUMAS_1yUS.csv', index_col='LOGRECNO')

In [7]:
pumas = get_pumas()

In [14]:
pumas.head(2)

,0001_1,0001_2,0002_1,0002_2,0002_3,0002_4,0002_5,0002_6,0002_7,0002_8,...,0170_65,0170_66,0170_67,0170_68,0170_69,0170_70,0170_71,0170_72,0170_73,0170_74
LOGRECNO,,,,,,,,,,,,,,,,,,,,,
10,3776,1706,213621,105709,5099,5915,6072,3937,3300,940,...,3861,86541,4793,85609,90402,3187,3187,3187,15003,75156
11,13614,6347,780918,389902,19998,20818,21492,13636,11849,4903,...,10035,299627,12020,297642,309662,9637,9713,9713,47529,260611

In [13]:
pumas.drop([x for x in pumas.columns.tolist() if x.startswith('st')],1, inplace=1)
pumas.shape

(6340, 32752)

In [15]:
pumas.drop([x for x in pumas.columns.tolist() if (x.startswith('0167') or (x.startswith('0166')))],1, inplace=1)
pumas.shape

(6340, 32639)

In [20]:
Y = pumas['0165_11'] # Internet subsctibtion
pumas.drop([x for x in pumas.columns.tolist() if x.startswith('0165')],1, inplace=1)

In [21]:
pumas.shape

(6340, 32456)