In [13]:
import os
import pandas as pd
from ipynotifyer import notifyOnComplete as nf
import zipfile #i am not giving it a name cause i intend to use it only once

In [14]:
path = '../../../Data/ACS/1y2013/'

In [15]:
def getFiles(folder, format, full=True, filtr=None):
    for f in os.listdir(folder):
        if f.endswith(format) and f.startswith('e'):
            if filtr==None or filtr not in f:
                if full:
                    yield os.path.join(folder, f)
                else:
                    yield f

In [16]:
txts = list(getFiles(path, '.txt'))
txts[:10]

['../../../Data/ACS/1y2013/e20131ak0001000.txt',
 '../../../Data/ACS/1y2013/e20131ak0002000.txt',
 '../../../Data/ACS/1y2013/e20131ak0003000.txt',
 '../../../Data/ACS/1y2013/e20131ak0004000.txt',
 '../../../Data/ACS/1y2013/e20131ak0005000.txt',
 '../../../Data/ACS/1y2013/e20131ak0006000.txt',
 '../../../Data/ACS/1y2013/e20131ak0007000.txt',
 '../../../Data/ACS/1y2013/e20131ak0008000.txt',
 '../../../Data/ACS/1y2013/e20131ak0009000.txt',
 '../../../Data/ACS/1y2013/e20131ak0010000.txt']

In [17]:
cols = [
'FILEID',
'FILETYPE',
'STUSAB',
'CHARITER',
'SEQUENCE',
'LOGRECNO',
]

In [18]:
pumas = pd.read_csv('../../../Data/geo_id/pumas.csv', index_col=0, dtype='str')[[1, 4, 49]]

In [19]:
pumas.columns = ('st','LOGRECNO','name')
pumas.st = pumas.st.str.lower()
pumas.head(5)

    st LOGRECNO                                               name
18  ak  0000019        Anchorage Municipality (North) PUMA, Alaska
19  ak  0000020        Anchorage Municipality (South) PUMA, Alaska
20  ak  0000021  Matanuska-Susitna & Kenai Peninsula Boroughs P...
21  ak  0000022  Greater Fairbanks, Greater Juneau, Ketchikan G...
22  ak  0000023                    Subsistence Alaska PUMA, Alaska

In [20]:
pumDict = {'us':[]}

for name, g in pumas.groupby('st'):
    pumDict[name] = g.LOGRECNO.tolist()

In [21]:
len(pumDict['ny'])

145

In [22]:
def getTable(fname, gf=None):
    df = pd.read_csv(fname, 
                             dtype={5:str, 4:str},
                             header=None, low_memory=False,
                             error_bad_lines=True)
    seq = df.iloc[1,4]
    st = fname[-13:-11]

    df.columns = cols + ['%s_%d' % (seq , i+1) for i in xrange(df.shape[1] - 6)]
#     df['st'] = st
    
    if gf:
        return df[df['LOGRECNO'].isin(gf[st])].iloc[:,5:].set_index('LOGRECNO')
    else:
        return df.iloc[:,5:].set_index('LOGRECNO')

In [23]:
t1 = getTable(txts[10], gf=pumDict)

In [24]:
t1.shape

(5, 139)

In [25]:
@nf
def aggTables(folder, gf=None):    
    
    byState ={}
    for t in getFiles(folder, '.txt'):
        st = t[-13:-11]
        byState[st] = byState.get(st,[])
        byState[st].append(getTable(t, gf=gf))
        
    # concat horisontally inside the state
    for k, v in byState.iteritems() :
        byState[k] = pd.concat(v,1)
        byState[k]['st'] = k
    # concat vertically all the states
    return pd.concat(byState.values())

In [26]:
# get all data for all PUMAs
mdf2 = aggTables(path, gf=None) #gf=pumDict)

In [27]:
mdf2.shape

(7801, 32753)

In [27]:
mdf2.head(5)

,0001_1,0001_2,0002_1,0002_2,0002_3,0002_4,0002_5,0002_6,0002_7,0002_8,...,0170_66,0170_67,0170_68,0170_69,0170_70,0170_71,0170_72,0170_73,0170_74,st
LOGRECNO,,,,,,,,,,,,,,,,,,,,,
0000078,1698,745,117860,59356,3482,3070,2874,1421,770,271,...,47549,1039,47486,48525,1327,1327,1327,12511,35996,va
0000079,1499,774,107046,52237,2796,2000,1515,906,751,555,...,48977,1835,48613,50448,2010,2010,2010,9811,40334,va
0000080,1493,678,102050,48520,2608,3665,3422,2437,1147,386,...,38082,1782,37832,39614,1491,1491,1491,8270,31116,va
0000081,1558,624,118119,56184,3546,3314,5734,2433,1773,857,...,40621,1456,40548,42004,1256,1256,1256,9400,32604,va
0000082,1582,565,107576,52189,3248,3532,4166,2843,1610,836,...,32890,1167,32890,34057,1832,1832,1832,9310,24640,va

In [28]:
[x for x in mdf2.columns.tolist() if x.startswith('st')]

['st']

In [29]:
# save to csv
mdf2.to_csv('../../../Data/raw_PUMAS_1yUS.csv')
# mdf2.to_csv('../../../Data/raw_ALL_geography_1yUS.csv')

In [30]:
# save column names as a csv
pd.DataFrame(mdf2.columns).to_csv('../../../Data/PUMAS_series.csv')