In [26]:
import pandas as pd
import numpy as np

In [45]:
def process_lookup(path):
    df = pd.read_csv(path)
    df['Q'] = df[pd.notnull(df['Total Cells in Table'])]['Table Title']
    df['Q'] = df['Q'].fillna(method='ffill')
    df['Sequence Number'] = df['Sequence Number'].apply(lambda x: str(x).zfill(4))
    df = df[df['Line Number'].str.strip().str.len() >0]
    
    df['A'] = df[df['Table Title'].str.endswith(':')]['Table Title']
    df['A'] = df.groupby(['Table ID', 'Q'])['A'].transform(lambda group: group.ffill())

    df['Column'] = df['Sequence Number'] +'_' + df['Line Number'].astype(str)
    
    df['dataCol'] = np.NAN
    df['dataCol'] = df.groupby('Sequence Number')['dataCol'].transform(lambda group:  (group.reset_index().index +1).astype(str))
    df['dataCol'] = df['Sequence Number'] +'_' + df['dataCol'].astype(int).astype(str)

    return df[['Table ID', 'Column','dataCol', 'Q', 'A', 'Table Title']]

In [40]:
pa = process_lookup('../../Data/raw_aggData/lookup_table20131Y.csv')
ba = process_lookup('../../Data/raw_aggData/lookup_table20135Y.csv')

In [46]:
pa.head(10)

,Table ID,Column,dataCol,Q,A,Table Title
2,B00001,0001_1,0001_1,UNWEIGHTED SAMPLE COUNT OF THE POPULATION,NaN,Total
5,B00002,0001_1,0001_2,UNWEIGHTED SAMPLE HOUSING UNITS,NaN,Total
8,B01001,0002_1,0002_1,SEX BY AGE,Total:,Total:
9,B01001,0002_2,0002_2,SEX BY AGE,Male:,Male:
10,B01001,0002_3,0002_3,SEX BY AGE,Male:,Under 5 years
11,B01001,0002_4,0002_4,SEX BY AGE,Male:,5 to 9 years
12,B01001,0002_5,0002_5,SEX BY AGE,Male:,10 to 14 years
13,B01001,0002_6,0002_6,SEX BY AGE,Male:,15 to 17 years
14,B01001,0002_7,0002_7,SEX BY AGE,Male:,18 and 19 years
15,B01001,0002_8,0002_8,SEX BY AGE,Male:,20 years

In [47]:
ba.head(10)

,Table ID,Column,dataCol,Q,A,Table Title
2,B00001,0001_1,0001_1,UNWEIGHTED SAMPLE COUNT OF THE POPULATION,NaN,Total
5,B00002,0001_1,0001_2,UNWEIGHTED SAMPLE HOUSING UNITS,NaN,Total
8,B01001,0002_1,0002_1,SEX BY AGE,Total:,Total:
9,B01001,0002_2,0002_2,SEX BY AGE,Male:,Male:
10,B01001,0002_3,0002_3,SEX BY AGE,Male:,Under 5 years
11,B01001,0002_4,0002_4,SEX BY AGE,Male:,5 to 9 years
12,B01001,0002_5,0002_5,SEX BY AGE,Male:,10 to 14 years
13,B01001,0002_6,0002_6,SEX BY AGE,Male:,15 to 17 years
14,B01001,0002_7,0002_7,SEX BY AGE,Male:,18 and 19 years
15,B01001,0002_8,0002_8,SEX BY AGE,Male:,20 years

# Intersecting Table ID's

In [48]:
len([ x for x in pa['Table ID'].unique().tolist() if x in ba['Table ID'].unique().tolist()])

1040

In [49]:
df = pa.merge(ba, how='inner', on=['Table ID','Q', 'A', 'Table Title'])
df.rename(columns={'dataCol_x':'puma_attr', 'dataCol_y':'block_attr'}, inplace=1)

In [50]:
df.shape

(43243, 8)

In [51]:
df.Q = df.Q.str.lower()
df['Table Title'] = df['Table Title'].str.lower()

In [52]:
# dropping all imputations
df = df[~df['Q'].str.contains('imputation')]
df.shape

(42803, 8)

In [53]:
# dropping all samples
df = df[~df['Q'].str.contains('sample')]
df.shape

(42796, 8)

In [54]:
df['Q_name'] = df.apply(lambda x:'%s_%s_%s_%s' % (x['Table ID'],x['Q'],x['A'],x['Table Title']),axis=1)

In [55]:
df[df['puma_attr']!=df['block_attr']].head(10)

,Table ID,Column_x,puma_attr,Q,A,Table Title,Column_y,block_attr,Q_name
381,B02008,0004_1,0004_82,white alone or in combination with one or more...,Total:,total:,0004_1,0004_91,B02008_white alone or in combination with one ...
382,B02009,0004_1,0004_83,black or african american alone or in combinat...,Total:,total:,0004_1,0004_92,B02009_black or african american alone or in c...
383,B02010,0004_1,0004_84,american indian and alaska native alone or in ...,Total:,total:,0004_1,0004_93,B02010_american indian and alaska native alone...
384,B02011,0004_1,0004_85,asian alone or in combination with one or more...,Total:,total:,0004_1,0004_94,B02011_asian alone or in combination with one ...
385,B02012,0004_1,0004_86,native hawaiian and other pacific islander alo...,Total:,total:,0004_1,0004_95,B02012_native hawaiian and other pacific islan...
386,B02013,0004_1,0004_87,some other race alone or in combination with o...,Total:,total:,0004_1,0004_96,B02013_some other race alone or in combination...
387,C02003,0004_1,0004_183,detailed race,Total:,total:,0004_1,0004_97,C02003_detailed race_Total:_total:
388,C02003,0004_2,0004_184,detailed race,Population of one race:,population of one race:,0004_2,0004_98,C02003_detailed race_Population of one race:_p...
389,C02003,0004_3,0004_185,detailed race,Population of one race:,white,0004_3,0004_99,C02003_detailed race_Population of one race:_w...
390,C02003,0004_4,0004_186,detailed race,Population of one race:,black or african american,0004_4,0004_100,C02003_detailed race_Population of one race:_b...

In [56]:
r = df[['Q_name', 'puma_attr','block_attr']]
r.reset_index(inplace=1)
r['ourID'] = r['index'].apply(lambda x: 'our%d' % x)
r.drop('index',1, inplace=1)

/Users/casy/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/Users/casy/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [58]:
# r['puma_attr'] = r.puma_attr.apply(lambda x: '_'.join((x.split('_')[0].zfill(4), x.split('_')[1])))
# r['block_attr'] = r.puma_attr.apply(lambda x: '_'.join((x.split('_')[0].zfill(4), x.split('_')[1])))

In [59]:
r.head(10)

                                    Q_name puma_attr block_attr  ourID
0          B01001_sex by age_Total:_total:    0002_1     0002_1   our2
1            B01001_sex by age_Male:_male:    0002_2     0002_2   our3
2    B01001_sex by age_Male:_under 5 years    0002_3     0002_3   our4
3     B01001_sex by age_Male:_5 to 9 years    0002_4     0002_4   our5
4   B01001_sex by age_Male:_10 to 14 years    0002_5     0002_5   our6
5   B01001_sex by age_Male:_15 to 17 years    0002_6     0002_6   our7
6  B01001_sex by age_Male:_18 and 19 years    0002_7     0002_7   our8
7         B01001_sex by age_Male:_20 years    0002_8     0002_8   our9
8         B01001_sex by age_Male:_21 years    0002_9     0002_9  our10
9   B01001_sex by age_Male:_22 to 24 years   0002_10    0002_10  our11

In [60]:
r.shape[0] == r['ourID'].unique().shape[0]

True

In [61]:
r.to_csv('../../Data/raw_aggData/attr_interconn.csv')

### WHAT WE CAN PREDICT? WHAT THINHS ARE IN  PUMAS, but not in BLOCK LEVEL DATA?

### inside BLOCKS but not in PUMAS

In [70]:
df2 = ba.merge(pa, how='left', on=['Table ID','Q', 'A', 'Table Title'])
df2 = df2[pd.isnull(df2['dataCol_y'])]

In [71]:
df2['Q'].unique()

array(['AMERICAN INDIAN AND ALASKA NATIVE ALONE FOR SELECTED TRIBAL GROUPINGS',
       'ASIAN ALONE BY SELECTED GROUPS',
       'NATIVE HAWAIIAN AND OTHER PACIFIC ISLANDER ALONE BY SELECTED GROUPS'], dtype=object)

### inside but not in BLOCKS

In [77]:
df3 = pa.merge(ba, how='left', on=['Table ID','Q', 'A', 'Table Title'])
df3 = df3[pd.isnull(df3['dataCol_y'])]
pd.DataFrame(df3['Q'].unique())

                                                     0
0                             SEX BY AGE (WHITE ALONE)
1         SEX BY AGE (BLACK OR AFRICAN AMERICAN ALONE)
2    SEX BY AGE (AMERICAN INDIAN AND ALASKA NATIVE ...
3                             SEX BY AGE (ASIAN ALONE)
4    SEX BY AGE (NATIVE HAWAIIAN AND OTHER PACIFIC ...
5                   SEX BY AGE (SOME OTHER RACE ALONE)
6                       SEX BY AGE (TWO OR MORE RACES)
7     SEX BY AGE (WHITE ALONE, NOT HISPANIC OR LATINO)
8                      SEX BY AGE (HISPANIC OR LATINO)
9                                        DETAILED RACE
10   AMERICAN INDIAN AND ALASKA NATIVE ALONE FOR SE...
11                      ASIAN ALONE BY SELECTED GROUPS
12   NATIVE HAWAIIAN AND OTHER PACIFIC ISLANDER ALO...
13   AMERICAN INDIAN AND ALASKA NATIVE (AIAN) ALONE...
14   ASIAN ALONE OR IN ANY COMBINATION BY SELECTED ...
15   NATIVE HAWAIIAN AND OTHER PACIFIC ISLANDER ALO...
16        HISPANIC OR LATINO ORIGIN BY SPECIFIC ORIGIN
17                   HISPANIC OR LATINO ORIGIN BY RACE
18                             FIRST ANCESTRY REPORTED
19                            SECOND ANCESTRY REPORTED
20                             TOTAL ANCESTRY REPORTED
21                    PEOPLE REPORTING SINGLE ANCESTRY
22                  PEOPLE REPORTING MULTIPLE ANCESTRY
23                           PEOPLE REPORTING ANCESTRY
24                                            ANCESTRY
25   NATIVITY AND CITIZENSHIP STATUS IN THE UNITED ...
26                          PLACE OF BIRTH BY NATIVITY
27                              SEX BY AGE BY NATIVITY
28      YEAR OF ENTRY BY NATIVITY IN THE UNITED STATES
29      PLACE OF BIRTH FOR THE FOREIGN-BORN POPULATION
..                                                 ...
296  HEALTH INSURANCE COVERAGE STATUS AND TYPE BY W...
297  PRIVATE HEALTH INSURANCE BY WORK EXPERIENCE BY...
298  PRIVATE HEALTH INSURANCE BY WORK EXPERIENCE BY...
299  PUBLIC HEALTH INSURANCE BY WORK EXPERIENCE BY ...
300  PUBLIC HEALTH INSURANCE BY WORK EXPERIENCE BY AGE
301  HEALTH INSURANCE COVERAGE STATUS AND TYPE BY R...
302  PRIVATE HEALTH INSURANCE  BY RATIO OF INCOME T...
303  PUBLIC HEALTH INSURANCE BY RATIO OF INCOME TO ...
304  PRIVATE HEALTH INSURANCE BY RATIO OF INCOME TO...
305  HEALTH INSURANCE COVERAGE STATUS AND TYPE BY L...
306  PRIVATE HEALTH INSURANCE BY SEX BY ENROLLMENT ...
307                    TYPES OF COMPUTERS IN HOUSEHOLD
308  PRESENCE AND TYPES OF INTERNET SUBSCRIPTIONS I...
309  PRESENCE OF A COMPUTER AND TYPE OF INTERNET SU...
310  HOUSEHOLD INCOME IN THE LAST 12 MONTHS (IN 201...
311  AGE BY PRESENCE OF A COMPUTER AND TYPES OF INT...
312  EDUCATIONAL ATTAINMENT BY PRESENCE OF A COMPUT...
313  LABOR FORCE STATUS BY PRESENCE OF A COMPUTER A...
314  PRESENCE OF A COMPUTER AND TYPE OF INTERNET SU...
315  PRESENCE OF A COMPUTER AND TYPE OF INTERNET SU...
316  PRESENCE OF A COMPUTER AND TYPE OF INTERNET SU...
317  PRESENCE OF A COMPUTER AND TYPE OF INTERNET SU...
318  PRESENCE OF A COMPUTER AND TYPE OF INTERNET SU...
319  PRESENCE OF A COMPUTER AND TYPE OF INTERNET SU...
320  PRESENCE OF A COMPUTER AND TYPE OF INTERNET SU...
321  PRESENCE OF A COMPUTER AND TYPE OF INTERNET SU...
322  PRESENCE OF A COMPUTER AND TYPE OF INTERNET SU...
323            IMPUTATION OF HOUSEHOLD INTERNET ACCESS
324              IMPUTATION OF HOUSEHOLD COMPUTER TYPE
325  IMPUTATION OF HOUSEHOLD INTERNET SUBSCRIPTION ...

[326 rows x 1 columns]

In [78]:
df3.to_csv('../../Data/raw_aggData/what_we_can_predict.csv')