In [23]:
import pandas as pd

In [24]:
r = pd.read_csv('../../Data/raw_aggData/attr_interconn.csv', index_col=0)

In [27]:
r.head()

                                   Q_name puma_attr block_attr ourID
0         B01001_sex by age_Total:_total:    0002_1     0002_1  our2
1           B01001_sex by age_Male:_male:    0002_2     0002_2  our3
2   B01001_sex by age_Male:_under 5 years    0002_3     0002_3  our4
3    B01001_sex by age_Male:_5 to 9 years    0002_4     0002_4  our5
4  B01001_sex by age_Male:_10 to 14 years    0002_5     0002_5  our6

## PUMAS

In [10]:
pumas = pd.read_csv('../../Data/raw_aggData/raw_PUMAS_1yUS.csv')

/Users/casy/anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,361,362,1971,1972,1973,1974,1975,1976,1977,1978,2823,2828,3474,3475,3479,3480,3825,3826,3827,3832,3833,4409,4410,4411,4447,4448,4995,4996,5507,5508,6054,6055,6056,6057,6405,6406,6407,6408,6988,6989,7081,7091,7092,7151,7297,7298,7299,7300,7301,7302,7303,7378,7901,7902,7903,7904,8252,8253,8254,8255,9047,9048,9049,9050,9051,9052,9127,9466,9467,9468,14189,16017,16018,16211,16212,16213,16214,16215,16216,16217,16218,16225,16226,16932,16937,17171,17172,17173,17174,17175,17176,17177,17178,17184,17185,17190,17199,17200,17201,17212,17213,17223,17226,17236,17240,17241,17242,17243,17245,17380,17381,17382,17383,17384,17385,17386,17387,17392,17393,17394,17395,17396,17401,17402,17403,17491,17494,17501,17679,17683,17685,17689,17691,17695,18661,18665,18666,18667,18668,18669,18670,18671,18672,18673,18674,18675,18676,18677,18678,18679,18680,18681,18682,18683,18684,18685,18686,18687,18688,18689,18690,18691,18692,18693,18694,18695,18696,18697,18698,18699,18700,18701,18702,18703,18704,18705,18706,18707,18708,18709,18710,18711,18712,18713,18714,18715,18716,18717,18718,18719,18720,19225,19491,22385,22386,22387,22388,22389,22391,22392,22394,22395,22396,22397,22399,22400,22401,22402,22404,22410,22411,22412,22414,22415,22416,22421,22422,22423,22424,22425,22426,22427,22428,22429,22430,22431,22432,22433,22434,22436,22437,22438,22439,22440,22441,22442,22447,22448,22449,22451,22452,22453,22457,22458,22459,22460,22461,22462,22464,22465,22467,22468,22469,22470,22472,22473,22474,22475,22476,22477,22478,22482,22483,22484,22485,22486,22487,22488,22489,22825,22826,22827,22828,22829,22831,22832,22833,22834,22835,22836,22837,22839,22840,22841,22842,22843,22844,22845,22849,22850,22851,22852,22853,22854,22855,22856,22861,22862,22863,22864,22865,22866,22867,22868,22869,22870,22871,22872,22873,22874,22876,22877,22878,22879,22880,22881,22882,22885,22886,22887,22888,22889,22890,22891,22892,22893,22897,22898,22899,22900,22901,22902,22904,22905,22906,22907,22908,22909,22910,22912,22913,22914,22915,22916,22917,22918,22920,22922,22923,22924,22925,22926,22927,22928,22929,23215,23216,23217,23220,23222,23223,23224,23225,23227,23228,23230,23231,23237,23239,23240,23242,23243,23244,23245,23247,23249,23250,23251,23252,23253,23254,23255,23257,23258,23259,23261,23262,23264,23265,23266,23267,23269,23270,23271,23272,23273,23274,23276,23277,23278,23279,23280,23281,23282,23283,23284,23285,23286,23291,23293,23294,23562,23563,23564,23565,23567,23569,23570,23571,23572,23574,23575,23577,23578,23579,23583,23584,23585,23586,23587,23589,23590,23591,23592,23594,23596,23597,23598,23599,23600,23601,23602,23603,23604,23605,23606,23608,23609,23610,23611,23612,23613,23614,23616,23617,23618,23619,23620,23621,23622,23623,23624,23625,23626,23627,23628,23629,23630,23631,23632,23633,23635,23637,23638,23639,23640,23641,24386,24387,24389,24390,24395,24396,24397,24398,24399,24400,24404,24405,24406,24407,24408,24409,24434,24435,24437,24438,24439,24443,24444,24445,24446,24447,24448,24452,24453,24454,24455,24456,24457,28062,28063,28064,28065,28066,28559,28560,28562,28563,28564,28565,28567,28815,28821,28822,28823,28824,28825,28826,28838,29235,29300,29301,29302,29303,29304,29305,29306,29307,29308,29310,29315,29316,29317,29318,29323,29324,29325,29331,29332,29334,29335,29336,29337,29338,29339,29340,29341,29342,29344,29345,29346,29347,29349,29350,29351,29352,29355,29356,29357,29358,29359,29364,29365,29366) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [11]:
pumas.head(3)

,LOGRECNO,0001_1,0001_2,st,0002_1,0002_2,0002_3,0002_4,0002_5,0002_6,...,0170_66,0170_67,0170_68,0170_69,0170_70,0170_71,0170_72,0170_73,0170_74,st.169
0,10,3776,1706,va,213621,105709,5099,5915,6072,3937,...,86541,4793,85609,90402,3187,3187,3187,15003,75156,va
1,11,13614,6347,va,780918,389902,19998,20818,21492,13636,...,299627,12020,297642,309662,9637,9713,9713,47529,260611,va
2,12,18432,8544,va,1057565,525408,27471,29015,30288,18158,...,410632,18171,407639,425810,13766,13842,13842,66687,357358,va

## Get Dependent variables

In [16]:
Ys = pumas[['0165_%d'%x for x in xrange(10,31)]]

In [18]:
Ys.head(3)

,0165_10,0165_11,0165_12,0165_13,0165_14,0165_15,0165_16,0165_17,0165_18,0165_19,...,0165_21,0165_22,0165_23,0165_24,0165_25,0165_26,0165_27,0165_28,0165_29,0165_30
0,90402,53197,2069,12207,3977,8230,24292,8906,15386,520,...,267,4080,784,3296,4776,1537,3239,5253,6164,31041
1,309662,182654,8819,66003,18031,47972,39697,13409,26288,5581,...,2855,19642,6092,13550,17113,7197,9916,25799,13757,113251
2,425810,249055,11323,80924,22575,58349,72057,24793,47264,6266,...,3169,24023,6942,17081,22802,9274,13528,31660,21440,155315

In [19]:
## Just to be sure, I saved all the questions:
'''
PRESENCE AND TYPES OF INTERNET SUBSCRIPTIONS IN HOUSEHOLD
Universe:  Households
0165_10 Total:
0165_11 With an Internet subscription:
0165_12 Dial-up alone
0165_13 DSL:
0165_14 With mobile broadband
0165_15 Without mobile broadband
0165_16 Cable modem:
0165_17 With mobile broadband
0165_18 Without mobile broadband
0165_19 Fiber-optic:
0165_20 With mobile broadband
0165_21 Without mobile broadband
0165_22 Satellite Internet service:
0165_23 With mobile broadband
0165_24 Without mobile broadband
0165_25 Two or more fixed broadband types, or other:
0165_26 With mobile broadband
0165_27 Without mobile broadband
0165_28 Mobile broadband alone or with dialup
0165_29 Internet access without a subscription
0165_30 No Internet access
'''

Ys.to_csv('../../Data/refined_data/predict.csv')

## PUMAS predictors

In [61]:
# dictionary of column names
pumaID = r[['puma_attr', 'ourID']].set_index('puma_attr')['ourID'].to_dict()

In [65]:
p = pumas[[x for x in pumas.columns if x in r['puma_attr'].tolist()]+['LOGRECNO']]

In [66]:
p.columns = [pumaID.get(x, '_'+x) for x in p.columns]
p.head()

,our206,our207,our208,our209,our210,our211,our212,our213,our214,our215,...,our42794,our42795,our42796,our42797,our42798,our42799,our42800,our42801,our42802,_LOGRECNO
0,213621,105709,5099,5915,6072,3937,3300,940,1290,4289,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10
1,780918,389902,19998,20818,21492,13636,11849,4903,6043,14494,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11
2,1057565,525408,27471,29015,30288,18158,16456,6205,7679,20456,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12
3,103000,49272,2843,3213,3173,1886,3179,1020,646,873,...,618,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13
4,224906,111593,6278,5070,4389,2327,1521,826,576,6172,...,1519,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14

In [91]:
# drop columns with more than half datasets

p50 = p.dropna(axis=1, thresh=p.shape[0]/2)
p50.shape

(6340, 3466)

## BLOCKS predictors

In [63]:
blocks = pd.read_csv('../../Data/raw_aggData/raw_block_group_5yNY.csv')

/Users/casy/anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (331,332,333,334,335,336,337,338,339,343,344,345,349,350,351,355,356,357,358,359,360,5230,5231,5232,5233,5234,5235,5236,5237,5238,5239,5240,5241,5242,5243,5244,5245,5246,5247,5248,5249,5250,5251,10238,10239,10240,10242,11655,11656,11657,11659,11661,11663,11664,11673,11674,11675,11677,11679,11681,11682,12373,12375,12376,12377,12378,12380,12381,12382,12413,12414,12415,12416,12417,12418,12419,12420,12421,12422,12423,12424,12425,12426,12427,12428,12429,12430,12431,12432,12433,12434,12435,12436,12437,12438,12439,12610,12611,12612,12614,12618,12619,12646,12818,12819,12820,12826,12828,12859,12860,12861,12863,12865,12867,12868,12869,12870,12871,12873,12875,12877,12878,13024,13025,13026,13027,13028,13029,13030,13031,13032,13033,19549,19550,19551,19725,19726,19748,19749,19750,19751,19752,19753,19754,19759,19761,19950,19972,19973,19974,19990,19991,19992,20078,20079,20080,20170,20171,20172,20173,20221,20222,20223,20224,20225,20226,20227,20228,20229,20230,20231,20233,20285,20440,20441,20442,20443,20445,20446,20447,20448,20449,20450,20451,20452,20453,20454,20464,20465,20466,20523,20524,20525,20526,20527,20528,20555,20556,20557) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [64]:
blocks.head(3)

,LOGRECNO,0001_1,0001_2,0002_1,0002_2,0002_3,0002_4,0002_5,0002_6,0002_7,...,0122_49,0122_50,0122_51,0122_52,0122_53,0122_54,0122_55,0122_56,0122_57,0122_58
0,8303,93,48,1102,389,26,9,34,0,27,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8304,93,47,1061,470,33,31,43,20,31,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,8305,113,61,2828,1344,217,93,141,137,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [85]:
blocks.shape

(15463, 22712)

In [72]:
pCols =r[r.ourID.isin(p50.columns.tolist())]['block_attr'].tolist()  + ['LOGRECNO']

In [81]:
b = blocks[[x for x in blocks.columns if x in pCols]]
b.set_index('LOGRECNO',inplace=1)

In [82]:
blockID = r[['block_attr', 'ourID']].set_index('block_attr')['ourID'].to_dict()

In [83]:
b.columns = [blockID.get(x, '_'+x) for x in b.columns]
b.head()

,our206,our207,our208,our209,our210,our211,our212,our213,our214,our215,...,our34357,our34358,our34359,our34360,our34361,our34362,our34363,our34364,our34365,our34366
LOGRECNO,,,,,,,,,,,,,,,,,,,,,
8303,1102,389,26,9,34,0,27,0,19,7,...,14,68,0,0,2,0,0,38,280,31
8304,1061,470,33,31,43,20,31,0,15,6,...,0,107,0,0,8,0,0,52,218,50
8305,2828,1344,217,93,141,137,0,35,51,92,...,0,279,11,0,0,0,0,140,657,336
8306,764,341,31,0,21,14,0,21,14,0,...,0,177,0,0,14,0,0,0,160,10
8307,1365,751,81,56,168,36,81,0,0,78,...,76,108,0,0,0,0,0,0,250,47

In [88]:
b50 = b.dropna(axis=1, thresh=b.shape[0]/2)
print b50.shape
b50.to_csv('../../Data/refined_data/blocks50.csv')

(15463, 626)

## Overlap back PUMAS with data we have  in Blocks

In [90]:
print p50.shape
p50b = p50[b50.columns]
p50b.shape

(6340, 3466)

(6340, 626)

In [92]:
p50b.to_csv('../../Data/refined_data/puma50.csv')

In [98]:
r[r.ourID.isin(b50.columns)].to_csv('../../Data/refined_data/features_we_use.csv')